.login-background {
    background-image: url("../../../public/background.jpg");
    height: 100vh;
    width: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
}
.login-form {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 333px;
}

.text-center {
    text-align: center;
}

.login-tab, .signup-tab {
    text-align: center;
    width: 100%;
}

.ant-card .ant-card-head .ant-tabs-top {
    align-items: center;
}