.App {
  text-align: center;
}

var {

}

body{
  margin: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/*.logo-sidebar-264x191 {*/
/*  !* The image used *!*/
/*  background-image: url("../public/static/image/logo-sidebar-264x191.png");*/

/*  !* Full height *!*/
/*  height: 120px;*/
/*  width: 100%;*/

/*  !* Center and scale the image nicely *!*/
/*  background-position: center;*/
/*  background-repeat: no-repeat;*/
/*  background-size: cover;*/
/*}*/

/*.logo-sidebar-100x100 {*/
/*  !* The image used *!*/
/*  background-image: url("../public/static/image/logo-sidebar-100x100.png");*/

/*  !* Full height *!*/
/*  height: 50px;*/
/*  width: 100%;*/

/*  !* Center and scale the image nicely *!*/
/*  background-position: center;*/
/*  background-repeat: no-repeat;*/
/*  background-size: cover;*/
/*}*/

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.w100 {
  width: 100% !important;
}

.h100 {
  height: 100% !important;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

.text-start {
  text-align: start;
}

.item-center {
  align-items: center;
}

.m-2 {
  margin: 2px;
}

.m-4 {
  margin: 4px;
}

.m-8 {
  margin: 8px;
}

.mr-8 {
  margin-right: 8px;
}

.ml-8 {
  margin-left: 8px;
}

.mt-8 {
  margin-top: 8px;
}

.mb-8 {
  margin-bottom: 8px;
}

.p-2 {
  padding: 2px;
}

.p-4 {
  padding: 4px;
}

.p-8 {
  padding: 8px;
}

.p-16 {
  padding: 16px;
}

.pr-8 {
  padding-right: 8px;
}

.pl-8 {
  padding-left: 8px;
}

.pt-8 {
  padding-top: 8px;
}

.pb-8 {
  padding-bottom: 8px;
}

.d-flex {
  display: flex;
}

.border-component {
  border-radius: 5px;
  border: 1px solid rgb(0, 0, 135);
}

.border-block {
  border-radius: 5px;
  border: 1px dashed black;
}

.border-block-selected {
  border-radius: 5px;
  border: 1px dashed red;
}

/* Scroll bar stylings */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #7099df;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #006eff;
  cursor: pointer;
}

.ellipsis {
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.break-line-text {

}

.navbar-show-container {
  width: 100%;
  z-index: 9998;
  border-radius: 8px;
  position: absolute;
  flex-direction: column;
}

.navbar-show {
  transform: translateY(-100%);
  transition: 0.2s ease-in;
}

.navbar-show-container:hover .navbar-show {
  transform: translateY(0);
  transition: 0.5s ease-in-out;
}
